* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.AppTitle {
  background-color: #fbab7e;
  background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
  width: 100%;
  text-align: center;
  height: 10vh;
  font-size: 28pt;
  margin-bottom: 5vh;
  box-shadow: 2px 5px 20px black;
}
